<%- include("partials/header") %>

<h1>This is the campgrounds page!</h1>

<ul>
    <% campgrounds.forEach( (element) => { %>
    <div>
        <h4><%= element.name %></h4>
        <img src="<%= element.image %>">
    </div>
    <% })%> 
</ul>

<%- include("partials/footer") %>
