<%- include("partials/header") %>

<div class="container">
    <div class="row">
      <div class="col-md-4 text-center m-auto">
        <h3 class="my-3">Sign up</h3>
             <form action="/register" method="POST">
               
                  <label for="firstName">firstName</label>
                  <input class="form-control" type="text" name="firstName" placeholder="first name">
             
                   <label for="lastName">lastName</label>
                  <input class="form-control" type="text" name="lastName" placeholder="last name">
            
                   <label for="email">email</label>
                  <input class="form-control" type="email" name="email" placeholder="email">
            
                   <label for="avatar">avatar</label>
                  <input class="form-control" type="text" name="avatar" placeholder="avatar">
             
                 <label for="username">username</label>
                  <input class="form-control" type="text" name="username" placeholder="username">
            
                 <label for="password">password</label>
                  <input class="form-control" type="password" name="password" placeholder="password">
             
                   <label for="adminCode">adminCode</label>
                  <input class="form-control" type="text" name="adminCode" placeholder="admin code">
            
                 <button class="btn btn-lg btn-primary btn-block">Sign up</button>
                
              
             </form>
      
      </div>
    </div>
   
 
</div>

<%- include("partials/footer") %>