.delete-form {
    display: inline;
}

.user-form {
    width: 30%;
    margin: 25px auto;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#searchbar {
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 0;
  border:1px solid #ced4da;
}

#searchDropdown {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    z-index:2;
}

#searchBtn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-toggle:after {
    display: none;
}




/*searchbar*/

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#follow_button.active{
    background-color: orange;
}

.dropdown-menu {
    min-width: 14rem;
}

/* stripe checkout form */

.sr-main {
    padding: 75px 50px;
    background: rgba(247, 250, 249, 1);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

.sr-input{
    vertical-align:middle;
    border: 0;
    border-radius: 5px;
    padding: 12px 8px;
    height: 44px;
    width: 100%;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    background: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.hidden {
    display: none;
}