<%- include("../partials/header") %>
<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Create a New Campground</h3>
        </div>
      
        <div class="col-md-4 col-sm-8 m-auto">
            
       
            <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                    
                    <label for="name">Name</label>
                    <input class="form-control" type="text" placeholder="name" name="name">
            
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
                    
                    <label for="price">Price</label>
                    <input class="form-control" type="number" placeholder="price" min="0.01" step="0.01" name="price">
               
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                    
                    <label for="description">Description</label>
                    <input class="form-control" type="text" placeholder="description" name="description">

                    <button class="btn btn-md btn-primary btn-block">Submit</button>
               
                
             </form>
             <a href="/">go back</a>
        
        </div>
    </div>
</div>

<%- include("../partials/footer") %>